body {
  margin: 0px;
  font-family: 'Cinzel Decorative', serif;
  background: url('./assets/images/spider-background-vector-1477642.jpg') no-repeat center;
  color: rgb(177, 151, 4);
  background-size: cover;
}

.container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(2px);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: -5px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.shield {
  flex: 0 0 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.shield img {
  width: 175px;
  height: 175px;
  border: 4px solid rgb(177, 151, 4);
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 40px;
}

.level h2 {
  font-size: 1rem;
  margin: 0px 0 0;
}

.level p {
  font-size: 1rem;
  margin: 15px 0 0;
}

.stats {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 10px 0;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.stat-icon img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border: 1px solid gold;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

.stat-title {
  flex: 1;
  font-size: 0.9rem;
  margin-right: 5px;
  /* border: 1px solid gold; */
}

.progress-bar {
  flex: 1;
  background-color: transparent;
  border-radius: 50px;
  height: 7px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ffffffad;
  background-color: #ffffffad;
  width: 100%;
}

.progress {
  height: 100%;
  border-radius: 50px;
  background-color: black;
  transition: width 0.5s ease-in-out;
}

.stat-value {
  flex: 1;
  font-size: 0.8rem;
  text-align: right;
  position: relative;
  top: 8px;
}

/* Responsive Design */
/* TBC next release */